@media screen and (max-width: 800px) {

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-inline: 10%;
        height: 100%;
    }
    
    
    
    /*
    -------------------------------- ESTILIZAÇÃO DA SEÇÃO 1 --------------------------------
    */
    
    #secao1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        width: 100%;
        height: 25%;
        margin-top: 25%;
        flex-direction: column;
    }
    
    #secao1 div {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        padding-inline: 0;
        padding-block: 2%;
        border-block: 2px solid black;
        border-inline: none;
        border-radius: 10px;
        height: 100%;
    }
    
    #secao1 div a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 100%;
        font-style: italic;
        text-align: center;
    }
    
    #secao1 div a:hover {
        color: blue;
    }
    
    #secao1 br {
        display: block;
    }
    
    
    /*
    -------------------------------- ESTILIZAÇÃO DA SEÇÃO 2 --------------------------------
    */
    
    #secao2 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        margin-block: 25%;
        flex-direction: column;
    }
    
    #secao2aviso {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: orange;
        border: yellow dashed 4px;
        border-radius: 50px;
        padding: 5%;
        height: auto;
        margin-bottom: 25%;
    }
    
    #secao2aviso h1 {
        font-size: 140%;
    }
    
    #secao2aviso p {
        font-size: 110%;
    }
    
    #secao2textos {
        width: 100%;
    }
    
    #secao2textos h1 {
        font-size: 100%;
    }
    
    #secao2textos a, #secao2textos p {
        font-size: 90%;
    }
    
    #secao2noticias h1{
        margin-top: 10%;
    }
    
    /*
    -------------------------------- ESTILIZAÇÃO DA SEÇÃO 3 --------------------------------
    */
    #secao3 {
        width: 100%;
        margin-bottom: 25%;
    }
    #secao3 div {
        border: 2px solid black;
        background-color: #91cee2;
        border-radius: 15px;
        margin-block: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 4%;
    }
    
    #secao3 h1 {
        font-size: 200%;
        font-weight: 800;
        font-style: italic;
    }
    
    #secao3 p, a {
        font-size: 120%;
    }
    
    #secao3 p {
        margin-block: 1%;
    }

}
